kind: Deployment
apiVersion: apps/v1
metadata:
  name: game-deployment
  namespace: 2048-game
spec:
  replicas: 1
  selector:
    matchLabels:
      app: game-pod
  template:
    metadata:
      labels:
        app: game-pod
    spec:
      containers:
        - name: game-container
          image: bttger/2048-game:latest
          ports:
            - containerPort: 80
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 100m
              memory: 50M
